* {
    height: 100%;
    background-image: url("bg.png");
    background-repeat: repeat;
    background-size: contain;
    
}

#imgHolder {
    height: 400px;
    width: 400px;
    border: 1px solid black;
    background-image: url(mortyBubble.png);
    
}

#right{
    height: 350px;
    width: 500px;
    padding-top: 100px;
    padding-right: 0px;
    padding-left: 0px;
    background-position: center;
   
    background-image:url(bone.png)    
}

#container{
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#top{
    height: 350px;
    width: 550px;
    padding-right: 0px;
    padding-left: 0px;
    background-position: center;
   
    background-image:url(dnd.png); 
    background-repeat: no-repeat;  
    background-size: cover;
}
